/* Dark Mode Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}

::placeholder {
  color: #555; /* Adjusted placeholder color for dark mode */
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #333; /* Dark background color */
  transition: 0.8s all;
}

h1 {
  margin-bottom: 1.5%;
  color: #fff; /* Text color in dark mode */
  font-weight: bold;
}

.container {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #444; /* Dark background color */
  border: 2px solid #666; /* Adjusted border color for dark mode */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjusted box shadow color for dark mode */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.top-buttons {
  display: flex;
  align-items: center;
}

input {
  padding: 15px;
  color: #fff; /* Text color in dark mode */
  font-size: 1.2em;
  cursor: pointer;
  width: 70px;
  background-color: #555; /* Dark background color */
  border: 1px solid #444; /* Adjusted border color for dark mode */
  outline: none;
  border-radius: 5px;
  margin: 0.2em;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 4px;
}

input[type="text"] {
  background-color: #555; /* Dark background color */
  width: 222.5px;
}

input[type="button"]:hover {
  background-color: #666; /* Adjusted hover color for dark mode */
}

#clear-button {
  color: #fff;
  background-color: #e44d26; /* Darker color for clear button in dark mode */
}

a {
  text-decoration: none;
  color: #fff; /* Text color for links in dark mode */
}

#github-icon {
  margin-right: 10px;
}

.theme-button {
  all: unset;
  cursor: pointer;
}
